* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

header{
    background-image: url("../img/1.Home/hOME_bg.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.home {
    position: absolute;
    width: 1140px;
    top: 34%;
    left: 50%;
    transform: translate(-25%, -25%);
}

/* Setting the Logo's size */
#OPSLogo {
    width: 50%;

}

.home {
    position: absolute;
    width: 1140px;
    top: 34%;
    left: 50%;
    transform: translate(-25%, -25%);
}

/* Setting the Logo's size */
#OPSLogo {
    width: 50%;
}

/* Get in touch button */
.btn {
    display: inline-block;
    padding: 15px 45px;

    font-weight: 300;
    color: RGB(94,199,147);
}

#getInTouch {
    text-align: center;
    text-decoration: none;

    border: solid rgb(94,199,147);
    border-radius: 6px;

    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

#getInTouch {
    font-size: 110%;
    margin-left: 15%;
}

#getInTouch:hover {
    background-color: RGB(94,199,147);
    color: #fff;
}

.navigation li{
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 1120px;

}
