/* ------------------------------------------------- */
/* RESPONSIVE STYLES */
/* ------------------------------------------------- */
/* https://medialoot.com/blog/how-to-create-a-responsive-navigation-menu-using-only-css/ */
@media only screen and (max-width: 1330px) {
    .row-longer,
    footer .row {
        max-width: 1140px;
    }

    .section-about .row #Branding,
    .section-about .row #OurServices,
    .section-about .row #itServices,
    .section-about .row #ProjectMngmnt,
    .section-about .row #infrastructure,
    .section-about .row #appDev {
        background-size: 50vh;
        height: 49vh;
    }

}

@media only screen and (max-width: 1200px) {
    html {
        font-size: 100%;
    }

    nav {
        height: 8.5%;
    }

    .row,
    .row-longer,
    footer .row {
        max-width: 1024px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        font-size: 80%;
    }

    .section-contact #contacts-right p {
        font-size: 80%;
    }

    #OPSLogo {
        width: 50%;
        margin: 0 25% 3%;
    }

    .home {
        margin: 20% auto;
    }

    .parallax {
        background-attachment: scroll;
    }

    .section-about .row #Branding,
    .section-about .row #OurServices,
    .section-about .row #itServices,
    .section-about .row #ProjectMngmnt,
    .section-about .row #infrastructure,
    .section-about .row #appDev {
        background-size: 44vh;
        height: 43vh;
    }
}

@media only screen and (max-width: 1023px) {
    .main-nav {
        margin-left: 5%;
    }

    header nav .row {
        max-width: 1000px;
    }

    section {
        padding: 60px 0;
    }

    .row,
    .row-longer,
    footer .row {
        max-width: 800px;
    }

    .section-about .row #Branding,
    .section-about .row #OurServices,
    .section-about .row #itServices,
    .section-about .row #ProjectMngmnt,
    .section-about .row #infrastructure,
    .section-about .row #appDev {
        background-size: 41vh;
        height: 40vh;
    }
}

@media only screen and (max-width : 949px) {
    .main-nav {
        margin-left: 0;
    }

    #getInTouch {
        margin: 0px 39%;
    }
}

@media only screen and (max-width : 767px) {
    html {
        font-size: 90%;
    }

    .home {
        position: absolute;
        margin-top: 100px;
    }

    .mobile-nav-icon {
        display: inline-block;
    }

    #OPSLogo {
        width: 55%;
        margin: 0 22.5% 5%;
    }

    #getInTouch {
        margin: 0px 37%;
    }
    .main-nav {
        display: none;
        margin: auto;
    }

    .main-nav li {
        display: block;
    }

    .main-nav li a {
        display: block;
        padding: 30px 37vw;
    }

    .row,
    .row-longer,
    footer .row {
        max-width: 700px;
    }

    nav {
        height: auto;
    }
}

@media only screen and (max-width: 480px) {

}
