/* ------------------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow-x: hidden;
}

html {
    background-color: #f6f6f6;
    color: #555;
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: 300;
    font-size: 120%;
    text-rendering: optimizeLegibility;
}

.mainLoginInput::-webkit-input-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
}

.mainLoginInput:-ms-input-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
}

.mainLoginInput:-moz-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
}

.mainLoginInput::-moz-placeholder {
  font-family: 'myFont', Arial, Helvetica, sans-serif;
}

/* ------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------------------------- */
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

/* HEADINGS */
h2 {
    font-size: 260%;
    font-weight: 300;
    text-align: center;
    color: RGB(28,69,102);
    margin-bottom: 2%;
}

h3 {
    font-size: 150%;
    font-weight: 520;
    letter-spacing: 20%;
    text-align: center;
}

/* BUTTONS */
.btn {
    display: inline-block;
    padding: 15px 45px;

    font-weight: 300;
    color: RGB(94,199,147);
}

#getInTouch {
    text-align: center;
    text-decoration: none;

    border: solid rgb(94,199,147);
    border-radius: 6px;

    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;

    transition: background-color 0.2s, border 0.2s, color 0.2s;
    font-size: 110%;
    margin-left: 15%;
    margin: 0 40%;
}

#getInTouch:hover {
    background-color: RGB(94,199,147);
    color: #fff;
}

/* ------------------------------------------------- */
/* HEADER */
/* ------------------------------------------------- */

header{
    background-image: url("../img/1.Home/hOME_bg.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

.home {
    max-width: 1140px;
    top: 34%;
    margin: 10% auto;
}

/* Setting the Logo's size */
#OPSLogo {
    width: 65%;
    margin: 0 17.5% 4%;

}

/* ------------------------------------------------- */
/* NAVIGATION BAR */
/* ------------------------------------------------- */
nav {
    background-color: rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 10px 20px RGBa(0,0,0,0.5);
            box-shadow: 0px 10px 20px RGBa(0,0,0,0.5);
}

.main-nav {
    float: left;
    list-style: none;
    text-align: center;
    margin-left: 10%;
}

.main-nav li {
    display: inline;
}

.main-nav li a {
    display: inline-block;
    padding: 30px 60px;

    color: rgb(210,211,212);
    text-decoration: none;
}

.main-nav li a:hover{
    color: rgb(94,199,147);
    font-weight: 600;

    background-color: rgba(0,0,0,0.5);
    border-bottom: 3px solid rgb(94,199,147);
}

/* MOBILE - NAVIGATION */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}


/* ------------------------------------------------- */
/* About Section */
/* ------------------------------------------------- */
.section-about {
    padding-bottom: 0;
}

.section-about .row {
    text-align: center;
}

.section-about #about {
    font-size: 115%;
    margin-bottom: 80px;
}

/* Paragraph */

.long-copy {
    line-height: 1.75rem;
    width: 95%;
    margin-left: 2.5%;
}

.box p {
    margin: 7% 10%;
    line-height: 150%;
    font-weight: 100;
}

/* icons */
.section-about .row img {
    width: 20%;
    margin-top: 15%;
    margin-bottom: 5%;
}
/* Grid About */
.section-about #grid {
    max-width: none;
    margin-right: 0;
    margin-left: 0;
    color: #f6f6f6;
}

.section-about .row #Branding,
.section-about .row #OurServices,
.section-about .row #itServices,
.section-about .row #ProjectMngmnt,
.section-about .row #infrastructure,
.section-about .row #appDev {
    background-size: 66.2vh;
    background-repeat: no-repeat;
    width: 33.26%;
    height: 55vh;
    margin: 0;
    overflow: hidden;
}
.section-about .row #Branding {
    background-image: url("../img/2.Our Services/Branding BG.png");
}

.section-about .row #OurServices {
    background-image: url("../img/2.Our Services/OurService BG.png");
}

/* Our Services SPECIAL TEXT */
.section-about .row #OurServices h3 {
    margin-top: 20%;
}

.section-about .row #OurServices h3:after {
    display: block;
    height: 4px;
    background-color: rgb(94,199,147);
    content: " ";
    width: 60px;
    margin: 5% auto 0;
}
/* ### */

.section-about .row #itServices {
    background-image: url("../img/2.Our Services/itServices BG.png");
}

.section-about .row #ProjectMngmnt {
    background-image: url("../img/2.Our Services/projMgmnt BG.png");
}

.section-about .row #infrastructure {
    background-image: url("../img/2.Our Services/infrastructure BG.png");
}

.section-about .row #appDev {
    background-image: url("../img/2.Our Services/appdevt BG.png");
}

/* ------------------------------------------------- */
/* Clients Section */
/* ------------------------------------------------- */
.section-clients .row h2 {
    margin-bottom: 5%;
    font-size: 300%;
}

.section-clients .row #BS {
    width: 50%;
    margin: 0 12.5%;
}

.section-clients .row #Unilever {
    width: 43%;
    margin: 0 12.5%;
}

.section-clients .row #Moment {
    width: 75%;
    margin: 0 12.5% 0 0;
}

.section-clients .row #Jardines {
    width: 40%;
    margin: 0 12.5%;
}


/* ------------------------------------------------- */
/* QUOTES */
/* ------------------------------------------------- */
.section-quotes {
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 3.75%;
}

#quote1 {
    background-image: url("../img/4.Quote 1/Quote1 BG.png");
}

#quote2 {
    background-image: url("../img/6.Quote 2/Quote2.png");
}

.section-quotes .row #quote_logo {
    margin: 0 48%;
    width: 5%;
}

.section-quotes .row blockquote {
    color: rgb(202,202,202);
    text-align: center;
    line-height: 150%;
    margin: 2% 5%;
}

.section-quotes .row p {
    color: rgb(94,199,147);
    font-weight: 600;
    text-align: center;
}

/* ------------------------------------------------- */
/* PROJECTS */
/* ------------------------------------------------- */
.row-longer {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

/* Headings */
.row-longer h2 {
    font-size: 300%;
    color: #555;
    text-align: center;
}

.row-longer p {
    font-size: 115%;
    margin: 0 0 4%;
    line-height: 1.75rem;
    text-align: center;
}

/* -------- SELECTION -------- */
.row-longer .nav {
    text-align: center;
}

.row-longer .nav li {
    display: inline;
}

button {
    font-size: 90%;
}

.row-longer .nav li button {
    display: inline-block;
    text-decoration: none;
    color: #555;
    padding: 0.8% 1.5%;
    background-color: rgb(222,222,222);
    border-radius: 4px;
    border: none;
    cursor: pointer;

}

.row-longer .nav li button:active {
    background-color: rgb(94,199,147);
    border-radius: 4px;
    color: #fff;
}

#load-more {
    margin-top: 5%;

    text-align: center;
    text-decoration: none;

    border: solid rgb(94,199,147);
    border-radius: 12px;

    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;

    transition: background-color 0.2s, border 0.2s, color 0.2s;
    font-size: 110%;
}

#load-more:hover {
    background-color: RGB(94,199,147);
    color: #fff;
}
/* ------------------------------------------------- */
/* TEAM */
/* ------------------------------------------------- */


/* ------------------------------------------------- */
/* CONTACT US */
/* ------------------------------------------------- */
/* FORM */
.section-contact {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.45)), to(rgba(0,0,0,0.45))), url("../img/8.Contact Us/Contact us BG.png");
    background: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("../img/8.Contact Us/Contact us BG.png");
    background-size: cover;
    background-position: center;
    padding-bottom: 0;
}

.section-contact h2 {
    color: white;
    font-weight: 300;
    margin-bottom: 1%;
}

.section-contact p {
    color: rgba(202,202,202,0.7)
}

#contacts-left {
    margin-bottom: 5%;
}

.contact-form {
    width: 90%;
}

.contact-form .row {
    margin: 2.5% 0;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 2% 4%;
    background-color: rgba(222,222,222,0.1);
    border-radius: 4px;
    border: none;
    font-family: inherit;
    font-size: 75%;
}

textarea {
    height: 100px;
    resize: vertical;
    min-height: 100px;
    max-height: 300px;
}

input[type="submit"] {
    font-size: 75%;
    padding: 2% 8%;
    border: 2px solid rgb(94,199,147);
    border-radius: 6px;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.row-submit {
    text-align: left;
}

input[type="submit"]:hover {
    background-color: RGB(94,199,147);
    color: #fff;
}

/* CONTACTS */
#contacts-right {
    width: 40%;
    margin-left: 10%;
}

#icon-loc {
    width: 15%;
    margin-left: 0;
}

.icon-small {
    width: 60%;
    margin-top: 5%;
}

.section-contact #contacts-right p {
    font-size: 75%;
    text-align: left;
    line-height: 165%;
}

/* ------------------------------------------------- */
/* FOOTER */
/* ------------------------------------------------- */
footer {
    background-color: rgba(0,0,0,0.7);
    height: 10vh;
    overflow: hidden;
    width: 100%;
}

footer .row {
    max-width: 1280px;
}

footer p {
    color: rgba(202,202,202,0.7);
    font-size: 90%;
    font-weight: 300;
    margin: 5% auto;
}

footer ul {
    overflow-y: hidden;
}

footer .social-links li {
    width: 100%;
    display: inline;
}

footer .social-links a {
    padding: 2%;
    overflow-y: hidden;
}

.span-footer-copyright {
    width: 43.5%;
}

.span-footer-sociallinks {
    width: 40%;
    padding: 2% 0;
}

.span-back-to-top {
    width: 5%;
    padding-top: 1.5%;
}

.span-back-to-top button {
    padding: 30%;
    background-image: url("../img/8.Contact Us/icon_go-up-normal.png");
    background-size: cover;
    background-color: rgba(0,0,0,0);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.span-back-to-top button:hover {
    background-image: url("../img/8.Contact Us/icon_go-up-hover.png");
}

.span-back-to-top img {
    width: 100%;
}

/* -------- ICONS --------*/
.icons {
    font-size: 135%;
    color: rgba(202,202,202,0.7);
}

/* ------------------------------------------------- */
/* ANIMATIONS */
/* ------------------------------------------------- */
.js--wp-1 {
    opacity: 0;
}

.js--wp-1.animated {
    opacity: 1;
}
